site_name: SolScript Documentation
site_description: A high-level language for Solana smart contract development
site_url: https://solscript.dev
repo_url: https://github.com/cryptuon/solscript
repo_name: cryptuon/solscript

theme:
  name: material
  palette:
    - scheme: default
      primary: deep purple
      accent: purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: deep purple
      accent: purple
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate
  icon:
    repo: fontawesome/brands/github

plugins:
  - search
  - minify:
      minify_html: true

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/cryptuon/solscript
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/solscript

nav:
  - Home: index.md
  - Getting Started:
    - Installation: guide/installation.md
    - Quick Start: guide/quickstart.md
    - Project Templates: guide/templates.md
    - Your First Contract: guide/first-contract.md
  - Language Guide:
    - Overview: guide/overview.md
    - Solana Concepts: guide/solana-concepts.md
    - Contracts: guide/contracts.md
    - Types: guide/types.md
    - Functions: guide/functions.md
    - State Variables: guide/state.md
    - Control Flow: guide/control-flow.md
    - Events & Errors: guide/events-errors.md
    - Modifiers: guide/modifiers.md
    - Interfaces: guide/interfaces.md
    - Inheritance: guide/inheritance.md
  - Reference:
    - CLI Commands: reference/cli.md
    - Built-in Types: reference/types.md
    - Built-in Objects: reference/builtins.md
    - Attributes: reference/attributes.md
    - Grammar: reference/grammar.md
    - Roadmap: reference/roadmap.md
  - Tutorials:
    - Token Contract: tutorials/token.md
    - NFT Marketplace: tutorials/nft-marketplace.md
    - Escrow: tutorials/escrow.md
  - Examples:
    - Counter: examples/counter.md
    - Token: examples/token.md
    - Voting: examples/voting.md
  - IDE Support:
    - VS Code: ide/vscode.md
    - Language Server: ide/lsp.md

copyright: Copyright &copy; 2024-2026 SolScript Contributors
